<h3>Leave Application</h3>
<div [hidden]="submitted" style="width: 800px;">
  <form [formGroup]="updateleaveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="noofDays" >No of Days</label>
        <input id="noofDays" name="noofDays" [ngModel]="noofDays" type="number" class="form-control" required>
        <div class="alert alert-danger" *ngIf="noofdays && !noofDays.valid">No of Days Required</div>
     </div>

     <div class="form-group">
         <label for="startDate" >Start Date</label>
         <input id="startDate" name="startDate" required [ngModel]="startDate" type="date" class="form-control">
         <div class="alert alert-danger" *ngIf="startDate && !startDate.valid">start Date Required</div>
      </div>

      <div class="form-group">
         <label for="endDate" >End Date</label>
         <input id="endDate" name="endDate" required [ngModel]="endDate" type="date" class="form-control">
         <div class="alert alert-danger" *ngIf="endDate && !endDate.valid">End Date Required</div>
      </div>

      <div class="form-group">
         <label for="leavetype" >Leave Type</label>
         <select id="leavetype" name="leavetype" required [ngModel]="leavetype"  class="form-control">
             <option value="1">Earned Leave</option>
             <option value="2">Casual Leave</option>
             <option value="3">Sick Leave</option>
             <option value="4">ML/PL</option>
            <!--<option value="5">On Duty Leave</option>--> 

         </select>
         <div class="alert alert-danger" *ngIf="leavetype && !leavetype.valid">Leave Type Required</div>
      </div>

      <div class="form-group">
         <label for="reason" >Reason</label>
         <textarea rows="8" id="reason" required name="reason" [ngModel]="reason" type="text" class="form-control"></textarea>
         <div class="alert alert-danger" *ngIf="reason && !reason.valid">Reason Required</div>
      </div>

    <button clicktype="submit" class="btn btn-success">Submit</button>
  </form>
</div>

